// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.fixedwidth{
    width: 300px;
    justify-content: space-around;
}
.max-title{
    height: 28px;
    overflow: hidden;
}
.max-content{
    height: 45px;
    overflow: hidden;
}